<p id="notice"><%= notice %></p>

<p>
  <strong>Page count:</strong>
  <%= @compilation.page_count %>
</p>

<p>
  <strong>Status:</strong>
  <%= @compilation.status %>
</p>

<p>
  <strong>Uuid:</strong>
  <%= @compilation.uuid %>
</p>

<% if @compilation.status == "completed" %>
  <%= link_to 'Download', rails_blob_path(@compilation.compiled_pdf) %> |
<% end %>
<%= link_to 'Edit', edit_compilation_path(@compilation) %> |
<%= link_to 'Back', compilations_path %>

<script>
  console.log("compilation show")
</script>
